{{ define "main" }}
<main class="m-0 px-4 overflow-y-auto container-main">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="max-w-full container-post grid grid-cols-1 rounded-lg">
    <div class="container-image h-96 rounded-l-lg rounded-r-lg" style="color: black;">
      <a class="title" href="{{ .RelPermalink }}"><img loading="lazy" class="cover-image rounded-l-lg rounded-r-lg" src='{{ with .Params.image }}{{ . }}{{ end }}'></a>
    </div>
    <div class="container-text rounded-r-lg">
      <br />
      {{ partial "metadata.html" . }}
      <br />
      <a class="container-text-title flex justify-center" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br />
      <a class="underline flex justify-center" href="{{ .RelPermalink }}">Read More</a>
      <br />
    </div>
  </div>
  {{ end }}
  </main>
{{ end }}